---
layout: default
---
<div class="post-layout">

<article class="post-content h-entry">

  <a href="{{ '/' | relative_url }}" class="back-link">
    <i class="fas fa-arrow-left"></i> Back to Blog
  </a>

  <header class="post-header">
    <h1 class="p-name">{{ page.title }}</h1>
    <a class="u-url" href="{{ page.url | absolute_url }}" hidden></a>
    <a class="p-author h-card" href="{{ '/about/' | absolute_url }}" hidden>{{ page.author | default: site.author.name }}</a>
    <div class="post-meta">
      <time class="date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        <i class="far fa-calendar-alt"></i>
        {{ page.date | date: "%B %-d, %Y" }}
      </time>{% assign mod = page.last_modified_at | default: page.date %}
      <data class="dt-updated" value="{{ mod | date_to_xmlschema }}"></data>
      {% if page.tags %}
        {% for tag in page.tags %}
          <span class="post-tag p-category">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </header>

  <div class="post-body e-content">
    {{ content }}
  </div>

  {% include author-box.html %}

  <section class="comments">
    <script src="https://giscus.app/client.js"
            data-repo="MaxClerkwell/maxclerkwell.github.io"
            data-repo-id="R_kgDOQcujzQ"
            data-category="comments"
            data-category-id="DIC_kwDOQcujzc4C7XBU"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </section>

  </article>

  {% include sidebar.html %}

</div>

<script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js" crossorigin="anonymous"></script>
